CLIENT_PASSWORD=steampw
CLIENT_USERNAME=steam
SERVER_DATA_FOLDER=valheim_data
SERVER_DATA_PATH=/home/$CLIENT_USERNAME/$SERVER_DATA_FOLDER
SERVER_INSTALL_PATH=/home/$CLIENT_USERNAME/valheim_server
SERVER_NAME=PiHeim
SERVER_PASSWORD=p1H3!m
SERVER_PORT=2456
SERVER_PUBLIC=0
WORLD_NAME=PiWorld
